@use "../styles/variables";

.container {
    .header {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;

        img {
            width: 3rem;
            height: 3rem;
        }

        &--pb {
            padding-bottom: 2.4rem;
        }

        .accordion__header {
            &:hover {
                color: variables.$purple;
            }
        }
    }
}
